@font-face {
  font-family: "Noto Sans Mono";
  src: url("../../fonts/noto-sans-mono/gcds-noto-sans-mono.woff2")
      format("woff2"),
    url("../../fonts/noto-sans-mono/gcds-noto-sans-mono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Set "Noto Sans Mono" + fallback as the code font */
code {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
}
