/* ----- GC Design System Fonts - Icons ----- */
@font-face {
  font-family: "gcds-icons";
  src: url("../fonts/icons/gcds-icons.eot");
  src: url("../fonts/icons/gcds-icons.eot#iefix") format("embedded-opentype"),
    url("../fonts/icons/gcds-icons.ttf") format("truetype"),
    url("../fonts/icons/gcds-icons.woff") format("woff"),
    url("../fonts/icons/gcds-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gcds-icon-"],
[class*=" gcds-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "gcds-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gcds-icon-checkmark-circle:before {
  content: "\e908";
}

.gcds-icon-chevron-down:before {
  content: "\e900";
}

.gcds-icon-chevron-left:before {
  content: "\e901";
}

.gcds-icon-chevron-right:before {
  content: "\e902";
}

.gcds-icon-chevron-up:before {
  content: "\e903";
}

.gcds-icon-close:before {
  content: "\e90b";
}

.gcds-icon-download:before {
  content: "\e906";
}

.gcds-icon-email:before {
  content: "\e905";
}

.gcds-icon-exclamation-circle:before {
  content: "\e909";
}

.gcds-icon-external:before {
  content: "\e904";
}

.gcds-icon-info-circle:before {
  content: "\e90a";
}

.gcds-icon-phone:before {
  content: "\e90c";
}

.gcds-icon-search:before {
  content: "\e907";
}

.gcds-icon-warning-triangle:before {
  content: "\e90d";
}

/* ----- GC Design System Fonts - Lato ----- */

@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/gcds-lato.woff2") format("woff2"),
    url("../../fonts/lato/gcds-lato.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/gcds-lato-italic.woff2") format("woff2"),
    url("../../fonts/lato/gcds-lato-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* Set "Lato" + fallback as the heading font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/* ----- GC Design System Fonts - Noto Sans ----- */

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-light.woff2") format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-light-italic.woff2")
      format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-regular.woff2") format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-regular-italic.woff2")
      format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-regular-italic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("<path-to-file>/fonts/gcds-noto-sans-medium.woff2") format("woff2"),
    url("<path-to-file>/fonts/gcds-noto-sans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-medium-italic.woff2")
      format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-medium-italic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-semibold.woff2")
      format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-semibold-italic.woff2")
      format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-semibold-italic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-bold.woff2") format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/noto-sans/gcds-noto-sans-bold-italic.woff2")
      format("woff2"),
    url("../../fonts/noto-sans/gcds-noto-sans-bold-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* Set "Noto Sans" + fallback as the default body font */
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

/* Example CSS classes to show different font weights */
.gcds-noto-sans-light {
  font-weight: 300;
}

.gcds-noto-sans-regular {
  font-weight: 400;
}

.gcds-noto-sans-medium {
  font-weight: 500;
}

.gcds-noto-sans-semibold {
  font-weight: 600;
}

.gcds-noto-sans-bold {
  font-weight: 700;
}

/* ----- GC Design System Fonts - Noto Sans Mono ----- */

@font-face {
  font-family: "Noto Sans Mono";
  src: url("../../fonts/noto-sans-mono/gcds-noto-sans-mono.woff2")
      format("woff2"),
    url("../../fonts/noto-sans-mono/gcds-noto-sans-mono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Set "Noto Sans Mono" + fallback as the code font */
code {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
}
