name: Publish fonts
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'package.json'

permissions:
  id-token: write
  contents: read

env:
  PACKAGE_NAME: '@cdssnc/gcds-fonts'

jobs:
  publish-fonts:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Publish @cdssnc/gcds-fonts to npm
        uses: JS-DevTools/npm-publish@4ce4bd0f334d5316473155078da1955d42148494
        id: publish
        with:
          token: ${{ secrets.NPM_TOKEN }}
